{% extends "kotpresenceBundle::menu.html.twig" %}
        {% block title %}
            Annonces
        {% endblock %}
        {% block announcespage %} class="active" {% endblock %}
        {% block body %}
    <h1>announce creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('announce') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
