{% extends "kotpresenceBundle::menu.html.twig" %}
        {% block title %}
            Photos
        {% endblock %}
        {% block photopage %} class="active" {% endblock %}
        {% block body %}

            <a href="http://kot-nekted.ddns.net/cgi-bin/photo.py"> Prendre une photo! </a>
        {% endblock %}