{% extends "kotpresenceBundle::menu.html.twig" %}
        {% block title %}
            Dépenses
        {% endblock %}
        {% block depensespage %} class="active" {% endblock %}
{% block body %}
    <h1>Modifier</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('expenses') }}">
            Retour
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
