{% extends "kotpresenceBundle::menu.html.twig" %}
        {% block title %}
            Dépenses
        {% endblock %}
        {% block depensespage %} class="active" {% endblock %}
        {% block body %}
            <div class="container-fluid text-center">
                  <h1 class="text-center">Nouvelle dépense</h1>

                   {{ form(form) }}

                   <ul class="record_actions">
                        <li>
                            <a href="{{ path('expenses') }}">
                                Retour
                            </a>
                        </li>
                   </ul>
            </div>
        {% endblock %}
