<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
            <title> {% block title %}{% endblock %} - Kotnected </title>
            {% block stylesheet %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
            {% endblock %}
            {% stylesheets 'css/*' filter='cssrewrite'

            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascript  %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
